@import url('https://fonts.googleapis.com/css2?family=Caprasimo&family=Roboto+Slab:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Roboto Slab', sans-serif;
  line-height: 1.5;
  color: #555555;
}

h3 {
  text-align: center;
}

button {
  background-color: green;
  color: white;
  border-radius: 2px;
  margin: 2px;
  padding: 2px;
}

.navbar {
  background-color: #333;
  padding: 10px;
}

.links {
  display: flex;
  justify-content: flex-end; /* Align links to the right */
}

.nav-link {
  color: white;
  text-decoration: none;
  padding: 8px;
  margin-left: 10px; /* Add some spacing between links */
}

.nav-link:first-child {
  margin-left: 0; /* No margin for the first link */
}

.nav-link:hover {
  background-color: #555;
}

.product-list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.product-item {
  border-radius: 10px;
  margin: 10px;
  border: 1px solid #ccc;
  padding: 20px;
  width: 350px;
  flex-direction: column;
}

.product-image {
  width: 100%;
  height: auto;
  padding: 10%;
  object-fit: cover;
}

/* styles.css (or your preferred styling file) */
/* styles.css (or your preferred styling file) */
.go-to-cart-button {
  align-items: center;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;

  text-decoration: none;
  color: #fff;
  background-color: #4caf50;
  border: 2px solid #4caf50;
  border-radius: 5px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.go-to-cart-button:hover {
  background-color: #45a049;
  color: #fff;
}

.cart-icon {
  margin-right: 10px;
}



h1 {
  font-family: 'Caprasimo', cursive;
  font-size: 3rem;
  margin: 0 auto 3rem auto;
  color: #3f3b00;
  text-align: center;
}
